body,html {
  margin: 0;
}
.header-image img {
  width: 100%;
  max-width: 800px;
  height: auto;
}
.contents {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  height: 100%;
  padding-bottom: 50px;
}
.day {
  margin-top: 60px;
}
.day h1 {
  margin-bottom:0px;
}
.day p {
  margin-top:0px;
}
.page-title {
  background-color: #074e9f;
}
h1 {
  color: #074e9f;
}
h1 span {
  background-color: white;
  padding-right: 20px;
}
h2 {
  color: #3872b2;
}
h2::before {
  content: "............";
  width: 10px;
  height: 20px;
  font-size: 70%;
  background-color: #3872b2;
}
h3 {
  color: #5b8fc9;
}
cite {
  break-inside: avoid;
  counter-increment: reference;
  display: block;
  font-style: normal;
  margin-left: 2.5em;
  position: relative;
  text-align: left; 
}
cite::before {
  content: "[" counter(reference) "]";
  display: inline-block;
  margin-left: -2.5em;
  position: absolute; 
}
cite a {
  text-decoration: none; 
}
.abstract {
  margin-left: 4.5em;
  margin-right: 1.5em;
  font-size: 9pt;
}
.abstract p {
  margin-bottom: 2pt;
}
.abstract p:first-of-type::before {
  content: "Abstract: ";
  font-weight: bold;
}

.links {
  margin: 0.5em 1.5em 0.5em 4.5em;
}

.date {
  font-weight: bold;
}
